[submodule "emacs-rails-reloaded"]
	path = emacs-rails-reloaded
	url = git@github.com:r0man/emacs-rails-reloaded.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "mingus"]
	path = mingus
	url = https://github.com/pft/mingus.git
