backups
image-dired
elpa
places
ac-comphist.dat
auto-save-list
swank
.smex-items
tramp
/url/cookies
/emms/history
/emms/cache
/el-get
/el-get-init-files/*.elc
/%backup%~
/.emacs.desktop
/.emacs.desktop.lock
/eshell/history
/projectile-bookmarks.eld
/.cask
/init.el.html
/init.el.el
/savehist
/projectile.cache
emms
/recentf
